accelerate==0.32.1
diffusers==0.33.1
timm==1.0.8
torch==2.1.0
torch_npu==2.1.0.post8
torchvision==0.16.0
transformers==4.45.0
numpy==1.23.5
opencv-python
zstandard
av
beautifulsoup4
botocore
einops
ftfy
imageio
imageio-ffmpeg
lmdb
pandas
Pillow
pyarrow
pyyaml
safetensors
six
tqdm
